<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <title>Book of Answers</title>
    
    <div class="answer">
        <h1>Answer: {{ most_recent_question.answer_body }}</h1>
       
    </div>

    <div style="text-align:center; padding-top:500px; padding-left:10px;">
        <a href="/">
            <button class="button another">ASK ANOTHER ONE</button>
        </a>
    
        <a href="/allquestions"> 
            <button class="button answerPageHistory">VIEW QUESTION HISTORY</button>
        </a>
    </div>
    

</html>