<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <title>Book of Answers</title>
    
    <div class="welcome">
        <h2>Welcome to</h2>
        <h1>The (digital) Book of Answers</h1>
        <button class="button history">VIEW QUESTION HISTORY</button>
    </div>
   
    <div class="form">
        <form>
            <label for="question">Enter your question here:</label>
            <input type="text" id="answer"> 
            <input type="submit" value="Submit">
        </form>
    </div>
    

</html>